.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  background-color: var(--background-color-cards);
  width: 150px;
  height: 450px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  padding-top: 35px;
  height: 250px;
  align-items: flex-end;
  justify-content: space-between;
  
}

.nav-list a {
  text-decoration: none;
  color: var(--text-color);
  margin: 20px;
}

@media screen and (min-width: 576px) {
  .nav {
  width: 200px;
  }

}
@media screen and (min-width: 768px) {
   
  .nav {
    /* display: none; */
    display: flex;
    position: relative;

    flex-direction: row;
    width: auto;
    height: auto;
    background-color: transparent;
  }  
  
  .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    
  }

  .nav-list a{
    padding: 0 10px;
  }

  .nav-button-close{
    display: none;
  }

  .nav-button-open{
    display: none;
  }
}
