:root{
  --background-color-image : #fff;
  --background-color-cards : #5e686e;
  --background-color-button : #FEBF00;
  --color-button : #282936; 
  --main-bg-color : #222228;
  --text-color : #eee;
}


body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  
}


